In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

#### Data understanding & cleaning

In [ ]:
df=pd.read_csv('Diwali.csv',encoding='unicode_escape')

In [ ]:
df.shape

In [ ]:
df.loc[df['Marital_Status']==0,'Marital_Status']='Unmarried'
df.loc[df['Marital_Status']==1,'Marital_Status']='Married'

In [ ]:
df.drop(columns=['Status','unnamed1'],inplace=True)

In [ ]:
df.dropna(inplace=True)

### EDA

In [ ]:
df.describe()

In [ ]:
df.describe(include=object)

In [ ]:
df.info()

In [ ]:
df.rename(columns={'Cust_name': 'Customer'},inplace=True)

In [ ]:
ax=sns.countplot(data=df,x='Gender')
for i in ax.containers:
    ax.bar_label(i)

 the most of the buyers were female

In [ ]:
ax=sns.countplot(data=df,x='Age Group',order=['0-17','18-25','26-35','36-45','46-50','51-55','55+'],hue='Gender')
for i in ax.containers:
    ax.bar_label(i)

the most buyers were of age group 26-35 and were females and the least were of group 0-17

In [ ]:
Maritalstatus=df['Marital_Status'].value_counts()
plt.pie(Maritalstatus,labels=Maritalstatus.index,autopct="%1.1f")
plt.show()

the above graph shows maximum of buyers are unmarried

In [ ]:
df.head()

In [ ]:
plt.figure(figsize=(10,3))
sns.countplot(df,x='State')

plt.xticks(rotation=90)
plt.show()

the most purchases are from Uttar Pradesh

In [ ]:
ax=sns.countplot(df,x='Occupation')
for i in ax.containers:
    ax.bar_label(i)
plt.xticks(rotation=90)
plt.show

the most of the buyers belong to IT sector

In [ ]:
sns.set_context('notebook')
plt.figure(figsize=(12,6))
sns.countplot(data=df,x='Age Group',hue='Occupation')

Most of the buyers which belong to IT sector were of age group 26-35

In [ ]:
sns.countplot(data=df,x='Product_Category')
plt.xticks(rotation=90)
plt.show()

the most sold category is Clothing and apparel

In [ ]:
df.head()

In [ ]:
Genderwiseamount=df.groupby(['Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(data=Genderwiseamount,x='Gender',y='Amount')

the most amount spent was by females compared to men

In [ ]:
##total amount vs Age Group
x=df.groupby(['Age Group'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(data=x,x='Age Group',y='Amount')

the most amount spent belong to 26-35 age group

In [ ]:
salesstate=df.groupby(['State'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False)
sns.barplot(data=salesstate,x='State',y='Orders')
plt.xticks(rotation=90)
plt.show()

the most order were from uttar pradesh

In [ ]:
salesamount=df.groupby(['State'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(data=salesamount,x='State',y='Amount')
plt.xticks(rotation=90)
plt.show()

the most amount spent by a state was also uttar pradesh

In [ ]:
y=df.groupby(['Marital_Status','Gender'],as_index=False)['Amount'].sum().sort_values(by='Amount',ascending=False)
sns.barplot(data=y,x='Marital_Status',y='Amount',hue='Gender')

the most amount spend was specifically by unmarried females and the least was by married males

In [ ]:
z=df.groupby(['Product_ID'],as_index=False)['Orders'].sum().sort_values(by='Orders',ascending=False).head(10)
sns.barplot(data=z,x='Product_ID',y='Orders')
plt.xticks(rotation=90)
plt.show()

the most orders was of productid: P00265242

In [ ]:
df.groupby('Product_Category')['Amount'].sum().nlargest(10).sort_values(ascending=False).plot(kind='bar')

the most amount spent on a product category was food

### Conclusion

From all the above analysis we can declare Married women age group of 26-35 beloging to IT and healthcare sector mostly of states viz. Maharastra, karnataka are likely to place clothing, food and electronic gadget orders