In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Diwali.csv',encoding='unicode_escape')

In [5]:
df.head()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN

In [6]:
df.tail()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0,NaN,NaN
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0,NaN,NaN
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0,NaN,NaN
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0,NaN,NaN
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0,NaN,NaN

In [7]:
newdf=df.drop(columns=['Status','unnamed1'],axis=1)

In [8]:
newdf

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,1000695,Manning,P00296942,M,18-25,19,1,Maharashtra,Western,Chemical,Office,4,370.0
11247,1004089,Reichenbach,P00171342,M,26-35,33,0,Haryana,Northern,Healthcare,Veterinary,3,367.0
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0
11249,1004023,Noonan,P00059442,M,36-45,37,0,Karnataka,Southern,Agriculture,Office,3,206.0
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0

In [9]:
newdf.loc[df['Gender']=='F']

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0
6,1001132,Balk,P00018042,F,18-25,25,1,Uttar Pradesh,Central,Lawyer,Auto,4,23841.0
7,1002092,Shivangi,P00273442,F,55+,61,0,Maharashtra,Western,IT Sector,Auto,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11241,1003032,Matthias,P00058042,F,26-35,33,0,Delhi,Central,Hospitality,Office,3,384.0
11242,1004344,Hildebrand,P00185442,F,26-35,27,1,Delhi,Central,Healthcare,Office,2,382.0
11245,1004140,Bertelson,P00057442,F,26-35,31,1,Delhi,Central,Aviation,Office,2,381.0
11248,1001209,Oshin,P00201342,F,36-45,40,0,Madhya Pradesh,Central,Textile,Office,4,213.0
11250,1002744,Brumley,P00281742,F,18-25,19,0,Maharashtra,Western,Healthcare,Office,3,188.0

In [11]:
newdf.loc[df['Age']<=18]

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0
42,1001182,Zypern,P00122442,M,0-17,16,0,Andhra Pradesh,Southern,Food Processing,Auto,4,23239.0
59,1001442,Atharv,P00145042,M,18-25,18,1,Delhi,Central,Construction,Stationery,2,21401.0
89,1000306,Patrick,P00303242,F,18-25,18,0,Maharashtra,Western,Aviation,Tupperware,3,20949.0
140,1002060,Lynn,P00351042,M,0-17,15,0,Bihar,Eastern,Healthcare,Footwear & Shoes,4,20788.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11213,1001088,Phan,P00029942,M,0-17,13,0,Uttar Pradesh,Central,Hospitality,Office,4,588.0
11215,1000869,Crebassa,P00110742,F,18-25,18,1,Delhi,Central,Govt,Office,1,585.0
11224,1004378,Kritika,P00274042,F,18-25,18,0,Delhi,Central,Aviation,Office,2,572.0
11236,1002168,Hightower,P00145842,M,0-17,17,1,Himachal Pradesh,Northern,Agriculture,Office,4,560.0
11240,1001425,Sudevi,P00044742,F,0-17,12,0,Delhi,Central,IT Sector,Veterinary,1,396.0

In [13]:
newdf.loc[(df['Gender']=='F') & (df['Age']<=18)]

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
89,1000306,Patrick,P00303242,F,18-25,18,0,Maharashtra,Western,Aviation,Tupperware,3,20949.0
378,1001088,Phan,P00304142,F,0-17,16,1,Uttar Pradesh,Central,Chemical,Furniture,3,20205.0
420,1001499,Caffey,P00338442,F,0-17,12,0,Uttar Pradesh,Central,Aviation,Furniture,2,19991.0
434,1001096,Joy,P00008742,F,0-17,17,0,Jharkhand,Eastern,Automobile,Furniture,3,19903.0
438,1001556,Deanra,P00113942,F,18-25,18,0,Maharashtra,Western,Lawyer,Food,4,19705.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11168,1001241,Amol,P00010242,F,0-17,14,0,Madhya Pradesh,Central,Chemical,Office,1,762.0
11193,1003333,Alyssa,P00170542,F,18-25,18,0,Delhi,Central,Construction,Office,1,743.0
11215,1000869,Crebassa,P00110742,F,18-25,18,1,Delhi,Central,Govt,Office,1,585.0
11224,1004378,Kritika,P00274042,F,18-25,18,0,Delhi,Central,Aviation,Office,2,572.0
11240,1001425,Sudevi,P00044742,F,0-17,12,0,Delhi,Central,IT Sector,Veterinary,1,396.0

In [19]:
newdf.sort_values(by='Age')

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount
7125,1001088,Phan,P00197342,M,0-17,12,0,Haryana,Northern,Agriculture,Clothing & Apparel,4,7051.0
1561,1001434,Steven,P00265242,F,0-17,12,0,Himachal Pradesh,Northern,Textile,Games & Toys,2,16149.0
6771,1002166,Laurel,P00010942,F,0-17,12,1,Uttarakhand,Central,Healthcare,Clothing & Apparel,1,7182.0
4443,1003190,Gelder,P00117942,F,0-17,12,0,Andhra Pradesh,Southern,IT Sector,Electronics & Gadgets,3,9831.0
3317,1001054,Cunningham,P00139542,F,0-17,12,1,Maharashtra,Western,Media,Food,1,11896.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2698,1005658,Poirier,P00227942,M,55+,92,0,Karnataka,Southern,Aviation,Footwear & Shoes,1,12865.0
2951,1002204,Dilbeck,P00246642,M,55+,92,0,Madhya Pradesh,Central,IT Sector,Footwear & Shoes,3,12383.0
9412,1000928,Hemant,P00134342,M,55+,92,0,Uttar Pradesh,Central,Healthcare,Food,4,4139.0
359,1003036,Prescott,P00255842,F,55+,92,0,Uttarakhand,Central,Chemical,Furniture,2,20239.0
612,1002526,Shreya,P00271142,M,55+,92,1,Uttar Pradesh,Central,Banking,Food,2,19457.0

In [33]:
newdf['count']=0
newdf.groupby(['Age']).sum().sort_values('State',ascending=False)

,User_ID,Cust_name,Product_ID,Gender,Age Group,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,count
Age,,,,,,,,,,,,,
92,7018204,PrescottShreyaAlicePoirierDilbeckHemantJitesh,P00255842P00271142P00128942P00227942P00246642P...,FMMMMMF,55+55+55+55+55+55+55+,1,UttarakhandUttar PradeshUttar PradeshKarnataka...,CentralCentralCentralSouthernCentralCentralSou...,ChemicalBankingMediaAviationIT SectorHealthcar...,FurnitureFoodFootwear & ShoesFootwear & ShoesF...,20,89467.00,0
68,12040608,InderpreetParinHarshitaKoutrasJaideepTillmanRa...,P00293342P00288042P00271342P00034042P00112442P...,MMMFFFFFFFMF,55+55+55+55+55+55+55+55+55+55+55+55+,2,UttarakhandAndhra PradeshUttar PradeshMaharash...,CentralSouthernCentralWesternSouthernWesternEa...,LawyerIT SectorHealthcareAutomobileHealthcareI...,Footwear & ShoesFootwear & ShoesFootwear & Sho...,26,114627.00,0
78,9025540,DeniseWillmanDeniseNikhilSonakshiAlicePrajakta...,P00259742P00003442P00000142P00090942P00129942P...,FFFMFMMFF,55+55+55+55+55+55+55+55+55+,6,Uttar PradeshUttar PradeshUttar PradeshDelhiBi...,CentralCentralCentralCentralEasternSouthernSou...,HealthcareChemicalMediaMediaBankingIT SectorHo...,FoodGames & ToysFoodGames & ToysElectronics & ...,21,75705.00,0
66,13043569,BrittainPriyankaGaymanAarushiAishwaryaGranlund...,P00117142P00246942P00116342P00313442P00199442P...,MFFFFFFFFFFFF,55+55+55+55+55+55+55+55+55+55+55+55+55+,7,Uttar PradeshUttar PradeshMaharashtraUttar Pra...,CentralCentralWesternCentralCentralWesternEast...,GovtAutomobileChemicalRetailAviationHealthcare...,Footwear & ShoesFoodFoodFoodElectronics & Gadg...,29,134757.00,0
12,51134069,PhanCaffeyLizStevenDarttMacKendrickShardaSathy...,P00354342P00338442P00010742P00265242P00035542P...,MFFFFFFFMFFFMFFFFFMFMFMFMFFFFFMMFFMMFFMFMFMMFF...,0-170-170-170-170-170-170-170-170-170-170-170-...,17,Uttar PradeshUttar PradeshMaharashtraHimachal ...,CentralCentralWesternNorthernCentralWesternCen...,AviationAviationIT SectorTextileHealthcareGovt...,FurnitureFurnitureFoodGames & ToysFoodFoodFood...,114,438962.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,218614539,MousamChampaklataDevendraKritikaRaglinSiddhart...,P00220042P00261842P00232442P00159442P00337442P...,FFFFFFFMMMMFFFFFFFMFMMFMFFFFMFFMMFFMFFMMMFFFFF...,36-4536-4536-4536-4536-4536-4536-4536-4536-453...,96,Andhra PradeshDelhiDelhiKarnatakaDelhiUttar Pr...,SouthernCentralCentralSouthernCentralCentralEa...,AutomobileIT SectorAviationAutomobileMediaCons...,AutoStationeryFootwear & ShoesFootwear & Shoes...,534,2062506.00,0
45,247694576,StewartMauriceSanjayDiwakarBallardJamesFarhatN...,P00036242P00191942P00315442P00205442P00215542P...,MFFFFFFFMMMFFMFFMFMMMFFMFFMFFMFFMMFMFFMMFFFFFF...,36-4536-4536-4536-4536-4536-4536-4536-4536-453...,104,Andhra PradeshDelhiDelhiDelhiDelhiKarnatakaKar...,SouthernCentralCentralCentralCentralSouthernSo...,AgricultureBankingConstructionIT SectorTextile...,Hand & Power ToolsStationeryFootwear & ShoesFo...,609,2349151.50,0
26,495434967,GinnyVasudevNeolaSwatiBixbySibellaNeolaDivyans...,P00031142P00324942P00142742P00124642P00130642P...,FMFFFMMFFMFMFMFFFFMFFFMMMFFFMFFMFFFMMMMFFMMFFF...,26-3526-3526-3526-3526-3526-3526-3526-3526-353...,204,Andhra PradeshAndhra PradeshKarnatakaDelhiKarn...,SouthernSouthernSouthernCentralSouthernSouther...,MediaAutomobileHospitalityIT SectorBankingReta...,AutoAutoFootwear & ShoesFootwear & ShoesFootwe...,1258,4686508.99,0
32,445397066,AmanPhonelyJesslynAbhijitShariariBrookeNatalie...,P00293342P00048742P00121642P00105042P00334242P...,FFMFFMFFFFMFFFMMMFFFFFFFMFFMMFFFMMFFFFMFFFMFFF...,26-3526-3526-3526-3526-3526-3526-3526-3526-352...,194,Andhra PradeshAndhra PradeshDelhiAndhra Prades...,SouthernSouthernCentralSouthernSouthernWestern...,Food ProcessingAviationConstructionRetailRetai...,AutoAutoAutoAutoFootwear & ShoesFurnitureFootw...,1126,4223599.00,0
20,252756669,KargatisElijahDeanSwetaPeteMaxwellWardleStaebe...,P00119142P00080342P00111642P00238542P00216742P...,FFFMMMMFMFFMMFFMMFFMMFFMFMMFFFFMFFMFFFFFFMFMFF...,18-2518-2518-2518-2518-2518-2518-2518-2518-251...,100,Andhra PradeshAndhra PradeshAndhra PradeshDelh...,SouthernSouthernSouthernCentralCentralSouthern...,RetailIT SectorAviationMediaConstructionHealth...,AutoAutoAutoAutoStationeryFootwear & ShoesFurn...,634,2481683.00,0

In [34]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11251 non-null  int64
 1   Cust_name         11251 non-null  object
 2   Product_ID        11251 non-null  object
 3   Gender            11251 non-null  object
 4   Age Group         11251 non-null  object
 5   Age               11251 non-null  int64
 6   Marital_Status    11251 non-null  int64
 7   State             11251 non-null  object
 8   Zone              11251 non-null  object
 9   Occupation        11251 non-null  object
 10  Product_Category  11251 non-null  object
 11  Orders            11251 non-null  int64
 12  Amount            11239 non-null  float64
 13  count             11251 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 1.2+ MB

In [35]:
newdf.loc[]

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,count
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11247,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11248,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11249,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11250,False,False,False,False,False,False,False,False,False,False,False,False,False,False